/*EJEMPLO DE FUENTE*/

/*
@font-face {
	font-family: "alexis";
	src: 
	url("../fonts/alexismarie/alexis_marie-webfont.woff2") format("woff2"), 
	url("../fonts/alexismarie/alexis_marie-webfont.woff") format("woff"), 
	url("../fonts/alexismarie/alexis_marie-webfont.ttf") format("truetype");
	font-weight: 200;
}
*/

header{
	background: #ccc;
}

footer{
	background: #ccc !important;
}